#tracklist {
  padding: 0;
  height:450px;
  overflow-y: scroll;
}

#tracklist li {
  list-style-type: none;
  padding-left: 5px;
  font-size: small;
}

#mapid {
  min-width: 310px;
  height: 600px;
  margin: 0 auto;
  resize: vertical;
}

#loadButton {
  margin-top: 20px;
}

#tracksLoadingSpinner {
  margin-top: 20px;
}

highcharts-chart {
  display: block;
  width: 100%;
  height: 100%;
}

#trackStats {
  font-size: small;
  padding-top: 5px;
  padding-bottom: 5px;
}

#trackStats span {
  padding: 0px 3px 0px 3px;
  border: 1px solid black;
}

#distance { }
#height { background-color: #ffaaaa; }
#velocity { background-color: #aaaaff; }
#traveltime {  }
#ascent { }
#heightDelta {  }

