/* You can add global styles to this file, and also import other style files */

html,body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

body {
  height: 100%;
  background-color: gray;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: AltoSemiBold,Helvetica,Arial,sans-serif;
}
